.navbar{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style: none;
}
a{
    color: beige;
    text-decoration: none;
}